doctype html
html
  head
    title= `${title} | CSC317`
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      block header
    main
      block content
    footer
      block footer