extends layout

block header 
    input(placeholder="Search...", name="query")
block content
    div(id="search results")
        -count=7
        h1 Search Results
        h2 #{count} Results
        div(id="sort")
            span Sort by: 
        select(name="sort")
            option(value="name_desc") Name (Desc.)
            option(value="name_asc") Name (Asc.)
            option(value="price_desc") Price (Low - High)
            option(value="price_asc") Price (High - Low)
            option(value="rating_desc") Rating (Desc.)
            option(value="rating_asc") Rating (Asc.)
            option(value="availability") Availability
        ul
            -for (var i=1; i < Number(`${count}`) + 1; i++)
                li
                    img(width=100, height=100)
                    h3 Product ##{i} Name
                    span Price: $0.00
                    button Add to Cart