doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Product 9 | MassoumyGems
		link(rel='stylesheet', href='/styles.css')
	body
		nav.navbar
			.navbar-container
				a.logo(href='/index.html')
					img(src='/images/logo.png', alt='Massoumy Gems Logo')
				ul.nav-links
					li
						a(href='/shop/shop.html') Shop
					li
						a(href='#') Services
					li
						a(href='#') Learnings
					li
						a(href='#') Events
					li
						a(href='#') About
				.nav-actions
					a.btn(href='/login/login.html') Sign In
					a.cart-icon(href='#').
						
						🛒
						
		.product-details
			h1 Product 9
			img.product-image(src='/images/product9.jpeg', alt='Product 9 image')
			p Description of product 9. Lorem ipsum dolor sit amet.
			p Price: $99.00
			a.btn.back-to-shop(href='/shop/shop.html') Back to Shop