doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width,initial-scale=1')
		title Profile - MassoumyGems
		link(rel='stylesheet', href='/public/styles.css')
	body
		nav
			h1 Welcome to Your Profile
			p Name: Ajmal Massoumy
			p Email: massoumyajmal@gmail.com
			p Member since: 2025
		footer
			p © 2025 MassoumyGems