.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    height: 90vh;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  ul.cart-items,
  ul.checkout-items {
    list-style: none;
    padding: 0;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .cart-product {
    font-weight: bold;
  }
  .remove-btn,
  .btn {
    font-size: 16px;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
  }
  
  .remove-btn:hover,
  .btn:hover {
    background-color: #0056b3;
  }
  
  .totals p, .totals h3 {
    margin: 4px 0;
  }
  

  .confirmation-container {
    max-width: 600px;
    margin: 80px auto;
    padding: 2rem;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .order-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .order-message {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 2rem;
  }
  .confirmation-container a {
    display: inline-block;
    margin-top: 1rem;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
  }
  .confirmation-container a:hover {
    background-color: #0056b3;
  }
  