extends ../layout

block content
  .login-container
    h1 Login
    if message
      .message= message
    if error
      .error-message= error

    form(method="POST" action="/users/login")
      input(name="email" type="email" placeholder="Email" required)
      input(name="password" type="password" placeholder="Password" required)
      button(type="submit") Login

    p Need to register? 
      a(href="/users/register") Register here
    a(href="/") Back to Shop
