extends ../layout

h1 Login
form(method="POST" action="/users/register")
    input(name="email" placeholder="Email" type="email" required)
    input(name="password" type="password" placeholder="Password" required)
    button(type="submit") Login

p Need to register?
    a(href="/users/register") Register here