name: Publish to Glitch
on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest
    environment: dev
    permissions:
      contents: read
    steps:
      - uses: lonnen/sync-branch-to-glitch-action@v0.0.4
        env:
          GLITCH_GIT_URL: ${{ secrets.GLITCH_GIT_URL }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_BRANCH: 'main'